body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b3ccff;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 40px; /* Increased padding */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #007bff; /* Added border */
    width: 300px; /* Increased width */
    height: 300px; /* Increased height */
  }
  
  #dice img {
    margin: 20px 0;
    width: 120px; /* Increased dice image size */
    height: 120px; /* Increased dice image size */
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #result {
    margin-top: 20px;
    font-size: 18px;
  }
  